@import '../../variables';

.cartLine__card {
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-inline-start: 20px;
}

.cartLine__img {
    height: 95px;
}

.cartLine__card--content p {
    margin-block-start: 10px;
    &:first-child {
        margin-block-start: 0;
    }
}

.cartLine__title {
    font-weight: bold;
}

.cartLine__author {
    font-size: 0.9rem;
    color: $dark-blue;
}

.cartLine__price {
    font-weight: bold;
    color: $dark-red;
    font-size: 1.2rem;
}

.cartLine__quantity {
    display: flex;
    gap: 5px;
    & input {
        width: 30px;
        font-size: 1.1rem;
        text-align: center;
    }
    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        background-color: #DDD;
        border-radius: 3px;
        font-weight: bold;
    }
}

.cartLine__tableData {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartLine__bin {
    height: 25px;
    width: auto;
    margin-top: 10px;
}

.cartLine__prices {
    text-align: center;
    font-weight: bold;
    &--old {
        font-weight: normal;
        font-size: small;
        margin-bottom: 8px;
    }
    &--promo {
        color: $dark-red;
    }
}
