$white: white;
$light-grey: #F4F4F4;
$grey: rgb(201, 201, 201);
$dark-red: #C6230E;
$dark-blue: #24334e;
$light-blue: #25A8D4;
$font-color: #333333;

@mixin redButtons {
    color: $white;
    font-weight: bold;
    background-color: $dark-red;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    &:hover {
        background-color: rgb(209, 14, 14);
    }
}

@mixin greyButtons {
    @include redButtons;
    background-color: #d3d3d3;
    color: $font-color;
    padding: 5px;
    padding-inline: 15px;
    &:hover {
        background-color: #dcdcdc;
    }
}

@mixin breadcrumb {
    color: $light-blue;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 1%;
}